# Filtering and Ordering - Lab

## Introduction
In this lab, you will write more `SELECT` statements to solidify your ability to query a SQL database. You will also write more specific queries using the tools you learned in the previous lesson.

## Objectives
You will be able to:
* Limit the number of records returned by a query using `LIMIT`
* Filter results using `BETWEEN` and `IS NULL`
* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)

### Famous Dogs

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

First, import sqlite3 and establish a connection to the database **dogs.db**. Then, create a cursor object so that you can pass SQL queries to the database.

In [6]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is C601-8594

 Directory of C:\Users\Jungmo\Desktop\github\dsc-filtering-and-ordering-lab-seattle-ds-062419

04/29/2020  01:45 PM    <DIR>          .
04/29/2020  01:45 PM    <DIR>          ..
04/29/2020  01:43 PM                69 .gitignore
04/29/2020  01:44 PM    <DIR>          .ipynb_checkpoints
04/29/2020  01:43 PM                96 .learn
04/29/2020  01:43 PM             1,849 CONTRIBUTING.md
04/29/2020  01:43 PM               131 create.sql
04/29/2020  01:43 PM             8,192 dogs.db
04/29/2020  01:43 PM             6,064 index.ipynb
04/29/2020  01:43 PM             1,371 LICENSE.md
04/29/2020  01:45 PM                 0 pets_database.db
04/29/2020  01:43 PM    <DIR>          pytests
04/29/2020  01:43 PM             2,853 README.md
04/29/2020  01:43 PM               515 seed.sql
04/29/2020  01:43 PM               628 selects.py
              11 File(s)         21,768 bytes
               4 Dir(s)  219,506,647,040 bytes free

In [39]:
#Your code here; import sqlite, create a connection and then a cursor object
import sqlite3
conn = sqlite3.connect('dogs.db')
cur = conn.cursor()

In [40]:
# Get the table name
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])

dogs

In [41]:
# Get the Column names
headers = [i[0] for i in cur.description]
print(headers)

['name']

In [42]:
# Turn it into pd df
import pandas as pd

df = pd.read_sql('''SELECT * from dogs''', conn)
df

   id        name  age gender             breed  temperament  hungry
0   1      Snoopy    3      M            beagle     friendly       1
1   2     McGruff   10      M        bloodhound        aware       0
2   3      Scooby    6      M        great dane       hungry       1
3   4  Little Ann    5      F         coonhound        loyal       0
4   5     Pickles   13      F         black lab  mischievous       1
5   6    Clifford    4      M           big red       smiley       1
6   7      Lassie    7      F            collie       loving       1
7   8       Snowy    8      F       fox terrier  adventurous       0
8   9        None    4      M  golden retriever      playful       1

## Queries

Display the outputs for each of the following query descriptions.

* Select the name and breed for all female dogs

In [43]:
#Your code here
cur.execute('''SELECT name, breed from dogs WHERE gender=='F' ''').fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

* Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

In [44]:
#Your code here
cur.execute('''SELECT name from dogs ORDER BY name''').fetchall()

[(None,),
 ('Clifford',),
 ('Lassie',),
 ('Little Ann',),
 ('McGruff',),
 ('Pickles',),
 ('Scooby',),
 ('Snoopy',),
 ('Snowy',)]

* Select any dog that doesn't have a name

In [51]:
#Your code here
cur.execute('''SELECT * from dogs WHERE name IS NULL ''').fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]

* Select the name and breed of only the hungry dogs and lists them from youngest to oldest

In [59]:
#Your code here
cur.execute('''SELECT name, breed from dogs WHERE hungry > 0 ORDER BY age;''').fetchall()

[('Snoopy', 'beagle'),
 ('Clifford', 'big red'),
 (None, 'golden retriever'),
 ('Scooby', 'great dane'),
 ('Lassie', 'collie'),
 ('Pickles', 'black lab')]

* Select the oldest dog's name, age, and temperament

In [61]:
#Your code here
cur.execute('''SELECT name, age, temperament from dogs ORDER BY age DESC''').fetchall()

[('Pickles', 13, 'mischievous'),
 ('McGruff', 10, 'aware'),
 ('Snowy', 8, 'adventurous'),
 ('Lassie', 7, 'loving'),
 ('Scooby', 6, 'hungry'),
 ('Little Ann', 5, 'loyal'),
 ('Clifford', 4, 'smiley'),
 (None, 4, 'playful'),
 ('Snoopy', 3, 'friendly')]

* Select the three youngest dogs

In [68]:
#Your code here
cur.execute('''SELECT * FROM dogs ORDER BY age LIMIT 3;''').fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1)]

* Select the name and breed of only the dogs who are between five and ten years old

In [76]:
#Your code here
cur.execute('''SELECT name, breed, age FROM dogs WHERE age Between 5 And 10 ORDER BY age ;''').fetchall()

[('Little Ann', 'coonhound', 5),
 ('Scooby', 'great dane', 6),
 ('Lassie', 'collie', 7),
 ('Snowy', 'fox terrier', 8),
 ('McGruff', 'bloodhound', 10)]

* Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [89]:
#Your code here
cur.execute('''SELECT name, age, hungry 
                FROM dogs 
                WHERE hungry = 1 AND age BETWEEN 2 AND 7 
                ORDER BY name
                LIMIT 3''').fetchall()

[(None, 4, 1), ('Clifford', 4, 1), ('Lassie', 7, 1)]

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity of results and the order of your results.